flows.json
[
    {
        "id": "3d8a5a73.32ee86",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "bd32ff41.52caa",
        "type": "twitter",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "subtype": "twitterHashTagStream",
        "x": 93,
        "y": 162,
        "wires": [
            [
                "5c680f78.c6069",
                "7d7ce52f.6d416c"
            ]
        ]
    },
    {
        "id": "5973a888.d569c8",
        "type": "osmonitor",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "subtype": "freemem",
        "x": 84,
        "y": 456,
        "wires": [
            [
                "5c680f78.c6069",
                "36729342.16e30c"
            ]
        ]
    },
    {
        "id": "8e8426a8.f55fa8",
        "type": "bulbsout",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 637,
        "y": 268,
        "wires": []
    },
    {
        "id": "5c680f78.c6069",
        "type": "debugger",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 409,
        "y": 305,
        "wires": []
    },
    {
        "id": "36729342.16e30c",
        "type": "dbfunction",
        "z": "3d8a5a73.32ee86",
        "ptype": {
            "": []
        },
        "name": "",
        "func": "return msg;",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "",
        "noerr": 0,
        "x": 448,
        "y": 413,
        "wires": [
            [
                "8e8426a8.f55fa8",
                "498664e9.d9ef2c"
            ]
        ]
    },
    {
        "id": "7d7ce52f.6d416c",
        "type": "dbfunction",
        "z": "3d8a5a73.32ee86",
        "ptype": {
            "": [
                {
                    "type": "identifier",
                    "ordinal": "primary",
                    "description": "a tweet or twitter username can be matched to an individual",
                    "required": [
                        "payload.value"
                    ],
                    "accretion": false
                },
                {
                    "type": "personal",
                    "subtype": "gender",
                    "ordinal": "primary",
                    "description": "a tweet or twitter username can be matched to gender",
                    "required": [
                        "payload.value"
                    ],
                    "accretion": false
                }
            ]
        },
        "name": "",
        "func": "return msg;\n",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{}",
        "noerr": 0,
        "x": 452,
        "y": 141,
        "wires": [
            [
                "8e8426a8.f55fa8",
                "498664e9.d9ef2c"
            ]
        ]
    },
    {
        "id": "8ca4888.74b3578",
        "type": "bulbsin",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "subtype": "bulb-on",
        "x": 95,
        "y": 279,
        "wires": [
            [
                "5c680f78.c6069",
                "36729342.16e30c",
                "7d7ce52f.6d416c"
            ]
        ]
    },
    {
        "id": "5ae67863.e09a58",
        "type": "bulbsin",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "subtype": "bulb-hue",
        "x": 96,
        "y": 359,
        "wires": [
            [
                "5c680f78.c6069",
                "36729342.16e30c",
                "7d7ce52f.6d416c"
            ]
        ]
    },
    {
        "id": "498664e9.d9ef2c",
        "type": "bulbsout",
        "z": "3d8a5a73.32ee86",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 640.5,
        "y": 346,
        "wires": []
    }
]